.bg-top-menu {
    background-color: #1b5171;
}
#top-nav.bg-top-menu li a {
    color: white;
}
.modify-trending label {
    margin-right: 10px;
    background: #1b5171;
    padding: 5px;
    font-size: 13px;
    color: white;
}

.modify-trending .btn-danger {
    background: #d9d9d9;
    color: black;
}
