/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/bangla-admin/storage
/bangla-admin/public/images
/backupold
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
